*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "discover main tracklist";
}

aside{
  width: 100%;
  height: 100vh;
}

.discover{
  grid-area: discover;
}

.tracklist{
  grid-area: tracklist;
}

main{
  grid-area: main;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: 
      "main__header"
      "main__middleup"
      "main__middleup"
      "main__middleup"
      "main__middleup"
      "main__middleup"
      "main__middleup"
      "main__middledown"
      "main__middledown"
      "main__middledown"
      ;
}

.main__header{
  grid-area: main__header;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

.main__middledown{
  grid-area: main__middledown;
  padding: 0 8vw;
}

.main__middleup{
  grid-area: main__middleup;
  padding: 3vw;
  
}

.main__footer{
  grid-area: main__footer;
}